html,body{min-height:100%;color:#888;
  background:-webkit-gradient(radial, 50% 0%, 0, 50% 0%, 900, from(#444), to(#111)) no-repeat #111;
  background:-moz-radial-gradient(center, #444, #111) no-repeat #111;
  background-position:middle left;
  font-size:12px;line-height:20px;
}
a{text-decoration:none;color:#057BAF;}
header h1{/*color:#AAA;text-shadow:0 0 8px #000;*/color:#000;text-shadow:0 1px 1px #666;font-size:48px;font-weight:normal;line-height:50px;margin:20px auto;}

#container{position:relative;width:900px;height:456px;margin:20px auto;border-radius:8px;border:1px solid #000;box-shadow:0 0 4px #000;
  background-color:#333;background-image:url('http://static.netroy.in/images/world-map.png');}
#monitor{position:absolute;top:0;left:0;width:900px;height:456px;}

footer{line-height:24px;text-shadow:0 0 4px #000;margin:30px auto;color:#666;}
